# 03 Explore and Viz Investors Data

## Import modules

In [1]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

%matplotlib inline

## Import data

In [2]:
! ls ../../data/interim/

deals.csv     firms.csv     investors.csv

In [3]:
filepath = '../../data/interim/investors.csv'
df = pd.read_csv(filepath, index_col = 0)
df.head(3)

,deal_id,deal_date,deal_year,firm_name,firm_id,round_total_raw,round_total,num_investors,avg_invest_per_investor,investor_name,...,year_founded,codex_category,market,problem_1,problem_2,problem_3,analytics,ai,point_integrated,firm_age
0,DEAL0001,2000-03-22,2000,LexisNexis,FIRM0002,30000000,30000000.0,5,6000000.0,Actua Corporation,...,1973,Legal Research,Corporate,Legal Research,Other Practice Tech,NONE,1.0,0.0,Integrated Solution,27
1,DEAL0001,2000-03-22,2000,LexisNexis,FIRM0002,above,30000000.0,5,6000000.0,Commerce One,...,1973,Legal Research,Corporate,Legal Research,Other Practice Tech,NONE,1.0,0.0,Integrated Solution,27
2,DEAL0001,2000-03-22,2000,LexisNexis,FIRM0002,above,30000000.0,5,6000000.0,Kaplan,...,1973,Legal Research,Corporate,Legal Research,Other Practice Tech,NONE,1.0,0.0,Integrated Solution,27

## Now you can do some visualization here....

Do some charts and graphs with investors later.  First try sankey diagrams

## Create sankey graph to show flow of funding

Click here for: [Sankey for funding](12_Sankey_for_funding.ipynb)